[flake8]
ignore = D203
max-line-length = 80
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    */migrations/*,
    */settings.py,
    */celery.py
max-complexity = 10